extends ../layouts/index.pug

block content
    div(class="py-10")
        h1(class="text-4xl my-10 font-extrabold text-center") Bienes
            span(class="font-normal") Raices
        h2(class='text-center text-2xl font-extrabold')=page

        a(class="inline-block w-full sm:w-auto bg-gray-700 text-white p-2 rounded-md hover:bg-gray-600 font-bold cursor-pointer text-center my-3" href="/estates/create") Publicar propiedad