extends ../layouts/index.pug

block content
    div(class="py-10")
        h1(class="text-4xl my-10 font-extrabold text-center") Bienes
            span(class="font-normal") Raices
        h2(class='text-center text-2xl font-extrabold')=title

        div(class="mt-8 mx-auto max-w-lg")
            div(class="bg-white py-8 px-4 shadow")
                p(class="text-md text-center font-bold p-2 ")=msg
                div(class="flex justify-end")
                    a(class="block text-center text-sm mt-5 text-gray-500 hover:text-gray-700 font-bold" href="/auth/login") Iniciar sesión