header(class="bg-gray-700 p-4")
    div(class="container mx-auto flex justify-between items-center")
        h1(class="text-2xl font-extrabold text-white text-center") Bienes
            span(class="font-normal") Raices

        nav(class="my-5 text-sm md:flex md:items-center font-bold text-white md:gap-3 hidden")
            a(href="/estates") Propiedades
            a(href="") Perfil
            a(class="bg-gray-800 p-2 rounded-md" href="") Cerrar Sesión